.tab_header {
    background-color: yellow;
}

.tab_pair {
    background-color: deepskyblue;
}

.tab_impair {
    background-color: greenyellow;
}

th, td {
    padding: 15px;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.important {
    color: orange;
    text-decoration: underline;
}