/* ----- ----- ----- ----- [ "Custom" CSS : Overrides & Complete the Bootstrap CSS ] ----- ----- ----- ----- */

/* ----- -----  General (Page) ----- ----- */

html { 
    /* ATTRIBUTES */
}

body {
    /* ATTRIBUTES */    
}

/* ----- Added Fonts & Font Modifications ----- */

@font-face {
    font-family: 'Archive';
    src: url('fonts/Archive.otf') format('truetype');
}

@font-face {
    font-family: 'Champagne';
    src: url('fonts/Champagne & Limousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne'; /* Italic version */
    src: url('fonts/Champagne & Limousines Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ChampagneBold';
    src: url('fonts/Champagne & Limousines Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChampagneBold'; /* Italic version */
    src: url('fonts/Champagne & Limousines Bold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* False bold, to get ChampagneBold in Bold */
strong { text-shadow: 1px 0px 1px currentColor; /* 1px 0px 0px pour enlever le "flou" */ }

/* ----- ----- Header (Page's Upper Part) ----- ----- */

header {
    /* ATTRIBUTES */
}

/* ----- Menu de Navigation (navbar) ----- */


.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.menu {
    display: block !important;
    width: 100%;
    padding: 15px 10px 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    font-size: calc(0.75em + 0.75vw);
}

.menu ul {
    margin-bottom: 0;
}

.menu a {
    color: grey; 
    text-transform: uppercase;
    opacity: 0.8;
}

.menu a:hover {
    text-decoration: none;
    background-image:radial-gradient(white 100%, black 100%);
    color: black;
    opacity: 0.8; 
} 

/* ----- -----  Content (Page's Body) ----- ----- */

.content {
    /* ATTRIBUTES */
}

/* ----- ----- Footer (Page's Lower Part)  ----- ----- */

footer {
    /* ATTRIBUTES */
}

.legal {
    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Polices, dans l'ordre */
    font-size:calc(1em + 0.2vw);
    color: #000;
}

/* ----- ----- ----- ----- CSS "@media" (Responsive) ----- ----- ----- ----- */

/*@media all and (max-width:500px) { /* Sur tous les médias, si la largeur d'affichage est plus petite que 500px *//*  
    #header_head {
        flex-flow: column wrap;     /* Header_Head : Afficher les éléments en colonne, les uns sous les autres *//*
    }
}*/

/* ----- ----- ----- ----- [ CSS "Backend" : Administration Elements ] ----- ----- ----- ----- */

#admin {
    /* ATTRIBUTES */

}


