/* ----- ----- ----- ----- [ "Custom" CSS : Overrides & Complete the Bootstrap CSS ] ----- ----- ----- ----- */

/* ----- -----  General (Page) ----- ----- */

html { 
    /* ATTRIBUTES */
}

body {
    /* ATTRIBUTES */    
}

/* ----- Added Fonts & Font Modifications ----- */

@font-face {
    font-family: 'Archive';
    src: url('../fonts/Archive.otf') format('truetype');
}

@font-face {
    font-family: 'Champagne';
    src: url('../fonts/Champagne & Limousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne'; /* Italic version */
    src: url('../fonts/Champagne & Limousines Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ChampagneBold';
    src: url('../fonts/Champagne & Limousines Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChampagneBold'; /* Italic version */
    src: url('../fonts/Champagne & Limousines Bold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* False bold, to get ChampagneBold in Bold */
strong { text-shadow: 1px 0px 1px currentColor; /* 1px 0px 0px pour enlever le "flou" */ }

/* ----- -----  Design Rules & Elements ----- ----- */

.large_image {

    height: 50vh;
    margin: auto;

}

.responsive_img {

    display: block;
    max-width: 100%;
    /*height: auto;*/
    margin: auto;

}

.title {

    font-family: 'Archive','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1.5em + 5vh);

}

.text {

    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 2.5vh);

}

.littletext {

    font-family: 'Champagne','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 1vh);

}

.littletextbtn {

    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 1vh);

}

.btntext {

    font-family: 'Archive','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 1.5vh);
    margin-top: 5vh;
    margin-bottom: 5vh;

}

/* Creates an horizontal line after the element */
.hline-bottom {
    margin: auto;
    width: 65%;
    margin-top: 2.5vh;
    padding-bottom: 2vh;
    margin-bottom: 2.5vh;
    border-bottom: 2px solid #000;
}

table
{
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

/*td, th /* Border on td and th */
/*{
    border: 1px solid black;
}*/

/* ----- ----- Header (Page's Upper Part) ----- ----- */

header {
    font-family: 'Archive','Trebuchet MS', Arial, sans-serif; /* Polices, dans l'ordre */
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
}

#header_head {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    margin: auto;
    width: 100%;

    background-color:gainsboro;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;

}

#header_head #logo {    
    width: 22vh;
    min-width: 100px;
    margin: auto;
}

#header_head .title  {
    width: 50%;
    margin: auto;
}

/* ----- Navigation Menu (Navbar) ----- */

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.menu {
    display: block !important;
    width: 100%;
    padding: 15px 10px 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    font-size: calc(2em + 2vh);
    background-color: gainsboro;
}

.menu ul {
    margin-bottom: 0;
}

.menu a {
    color: grey; 
    text-transform: uppercase;
    opacity: 0.8;
}

.menu a:hover {
    text-decoration: none;
    background-color:gainsboro;
    color: black;
    opacity: 0.8; 
}

/* ----- -----  Content (Page's Body) ----- ----- */

.content {

    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 5vh;   
    margin-bottom: 5vh;    

}

/* INDEX */

.Carousel_container {

    width: 60%;
    margin: auto;
    margin-top: 2.5vh;   

}

.carousel-caption {

    background-color: rgba(15,15,15,0.5);
    text-shadow: 2px 5px 5px black;

}

/* LOGIN */

#inline-forms {

    display: inline-block;
    width: 85%;

}

#login {

    width: 50%;
    float: left;
    padding: 0;

}

#register {

    width: 50%;
    float: right;
    padding: 0;

}

/* GALLERY */

.gallery  {

    width: 95%;
    text-align: center;
    margin: auto;
    margin-bottom: 2.5vh;

}

.gal_element {

    position: relative;
    display: inline-block;

    margin:auto;
    margin-bottom: 1%;

}

.gal_element > img {

    /* */

}

.gal_overlay {

    /* Placing the overlay on the image */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    /* Adding visual effects and hiding the overlay when not hovered */
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(70,70,70,0.8);

    text-align: center;

}


.gal_element:hover .gal_overlay {

    opacity: 1; /* Displaying the overlay only when hovered */

}

.gal_overlay > .btn {

    display: block;
    width: 100%;
    margin: auto;

}

.gal_buttons {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* LOGIN & ADMIN */

.mini_menu {
    background-color: lightgrey;
    width: 45%;
    margin: auto;
    text-align: center;
    padding: 2.5%;
}

.large_menu {
    background-color: lightgrey;
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 2.5%;
}

/* ------------------- sort ----------------- */
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

/* ----- ----- Footer (Page's Lower Part)  ----- ----- */

footer {
    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Polices, dans l'ordre */
    font-size:calc(1em + 0.2vw);
    color: #000;

    background-color: gainsboro;
    text-align: center;

    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1.5%;

}